.footer-area{
    margin-top: 80px;
}

.footer-area li{
    padding-bottom: 10px;
}

.footer-area .social-link{
    text-decoration: none;
    color: #9b9b9b;
    font-size: 20px;
    display: block;
    margin: 0 15px;
}